
<%- include("partials/header"); -%>


    <h1><%=title%></h1>
    <p><i>Written by: <%=author%></i></p>
    <p><%=content%></p>
    <p><i>Posted on: <%=postDate%></i></p>



<%- include("partials/footer"); -%>
